* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: #e3bac6;
}

/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid black;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.front-content h1 {
    max-width: 100%;
    word-wrap: break-word;
}
.back-content img {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain the image's aspect ratio */
    max-height: 100%; /* Ensure the image doesn't exceed the container's height */
}
#front2{
    font-size: 10px;
}
.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}


#prev-btn,#next-btn {
    width: 150px; /* Set your desired width */
    height: 150px; /* Set your desired height */
    border-radius: 50%; /* Make the button circular */
    overflow: hidden; /* Ensure content doesn't overflow outside the circle */
}

#prev-btn img,#next-btn img {
    width: 100%; /* Make the image fill the entire button */
    height: 100%; /* Make the image fill the entire button */
    object-fit: cover;
}

/* Paper stack order */
#page1 {
    z-index: 2;
}

#page2 {
    z-index: 1;
}
